<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <a href="/" class="logo">
      <strong>はじっこぐらし</strong>
      <span>Unreal Engineでまったりゲームを作るサークル！</span>
    </a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/aboutus.html">私たちについて</a></li>
      <li><a href="/members.html">メンバー紹介</a></li>
      <li><a href="/news.html">お知らせ</a></li>
      <li><a href="/portfolio.html">作品一覧</a></li>
      <li><a href="/contact.html">お問い合わせ</a></li>
    </ul>
  </nav>
</div>
